html {
  --top-nav-height: 150px
}

@media screen and (min-width: 768px) {
  #top {
    height: var(--top-nav-height);
  }

  #nav-tree, #side-nav {
    height: calc(100vh - var(--top-nav-height)) !important;
  }

  #side-nav {
    top: var(--top-nav-height);
  }
}

html {
  --primary-color: #1e66f5;
  --primary-dark-color: #209fb5;
  --primary-light-color: #04a5e5;
  
  --page-background-color: #eff1f5;
  --page-foreground-color: #4c4f69;
  --page-secondary-foreground-color: #5c5f77;

  --fragment-background: #e6e9ef;
  --fragment-foreground: #5c5f77;

  --side-nav-background: #dce0e8;

  --warning-color: hsl(41deg, 86%, 83%);
  --warning-color-dark: hsl(35deg, 77%, 65%);
  --warning-color-darker: hsl(35deg, 77%, 25%);
}

html.dark-mode {
  --primary-color: #8aadf4;
  --primary-dark-color: #89b4fa;
  --primary-light-color: #8caaee;

  --page-background-color: #1e1e2e;
  --page-foreground-color: #cdd6f4;
  --page-secondary-foreground-color: #bac2de;

  --side-nav-background: #24273a;

  --warning-color: hsl(41deg, 25%, 20%);
  --warning-color-dark: hsl(45deg, 77%, 49%);
  --warning-color-darker: hsl(35deg, 77%, 65%);

  --note-color: hsl(199deg, 76%, 15%);
  --note-color-dark: hsl(199deg, 45%, 40%);
  --note-color-darker: #cdd6f4;

  --code-background: #1e1e2e;
  --fragment-background: #1e1e2e;
  --fragment-foreground: #cdd6f4;
  --fragment-keyword: #cba6f7;
  --fragment-keywordtype: #f9e2af;
  --fragment-keywordflow: #cba6f7;
  --fragment-token: #cba6f7;
  --fragment-comment: #9399b2;
  --fragment-link: #89b4fa;
  --fragment-preprocessor: #f38ba8;
  --fragment-linenumber-color: #7f849c;
  --fragment-linenumber-background: #1e1e2e;
}
